{% extends 'layout.twig' %}
{% block title %}Check back later..{% endblock %}

{% block content %}
<div style="width: 100%; height: 100%; display: table; text-align: center;">
    <p class="heading" style="display: table-cell; vertical-align: middle;">Check back later..</p>
</div>
{% endblock %}
